# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
sphinx>=3.2.1
sphinx-rtd-theme>0.3.0
keras
h5py
numpy
matplotlib
pandas
opencv-python
tqdm
scipy
pytest
autopep8
setuptools
setuptools_scm
wheel
